{{! Saving Throw Section Partial
  Parameters:
  - hasDefaults: boolean - Whether to use default values from DMG trap
  - canDisable: boolean - Whether fields can be disabled (for DMG traps)
  - showHalfDamage: boolean - Whether to show the half damage checkbox
  - defaultHasSavingThrow: boolean - Default checked state
  - defaultSavingThrow: string - Default saving throw value
  - defaultDC: number - Default DC value
  - defaultHalfDamageOnSuccess: boolean - Default half damage checked state
  - hasDmgTrap: boolean - Whether a DMG trap is selected
  - savingThrowOptions: array - Available saving throw options
}}
<div class="form-group">
  <label>
    <input type="checkbox" id="hasSavingThrow" name="hasSavingThrow" data-saving-throw-checkbox {{#if defaultHasSavingThrow}}checked{{/if}} {{#if (and canDisable hasDmgTrap)}}disabled{{/if}} />
    {{localize "EMPUZZLES.HasSavingThrow"}}
  </label>
  <p class="hint">{{localize "EMPUZZLES.HasSavingThrowHint"}}</p>
</div>

<div class="saving-throw-fields" style="display: none;">
  <div class="form-group">
    <label for="savingThrow">{{localize "EMPUZZLES.SavingThrow"}}</label>
    <select id="savingThrow" name="savingThrow" {{#if (and canDisable hasDmgTrap)}}disabled{{/if}}>
      {{#each savingThrowOptions as |option|}}
        {{#if (and ../hasDefaults ../defaultSavingThrow)}}
          <option value="{{option.value}}" {{#if (eq option.value ../defaultSavingThrow)}}selected{{/if}}>
            {{localize option.label}}
          </option>
        {{else}}
          <option value="{{option.value}}" {{#if (eq option.value "ability:dex")}}selected{{/if}}>
            {{localize option.label}}
          </option>
        {{/if}}
      {{/each}}
    </select>
    <p class="hint">{{localize "EMPUZZLES.SavingThrowHint"}}</p>
  </div>

  <div class="form-group">
    <label for="dc">{{localize "EMPUZZLES.DC"}}</label>
    {{#if (and hasDefaults defaultDC)}}
      <input type="number" id="dc" name="dc" value="{{defaultDC}}" min="1" max="30" data-dtype="Number" {{#if (and canDisable hasDmgTrap)}}disabled{{/if}} />
    {{else}}
      <input type="number" id="dc" name="dc" value="14" min="1" max="30" data-dtype="Number" {{#if (and canDisable hasDmgTrap)}}disabled{{/if}} />
    {{/if}}
    <p class="hint">{{localize "EMPUZZLES.DCHint"}}</p>
  </div>

  {{#if showHalfDamage}}
    <div class="form-group">
      <label>
        <input type="checkbox" id="halfDamageOnSuccess" name="halfDamageOnSuccess" {{#if defaultHalfDamageOnSuccess}}checked{{/if}} {{#if (and canDisable hasDmgTrap)}}disabled{{/if}} />
        {{localize "EMPUZZLES.HalfDamageOnSuccess"}}
      </label>
      <p class="hint">{{localize "EMPUZZLES.HalfDamageOnSuccessHint"}}</p>
    </div>
  {{/if}}
</div>
