<form>
  <div class='form-group'>
    <label for='trapName'>{{localize 'EMPUZZLES.TrapName'}}</label>
    <input
      type='text'
      id='trapName'
      name='trapName'
      value='{{trapName}}'
      placeholder='{{localize "EMPUZZLES.TrapNamePlaceholder"}}'
    />
    <p class='hint'>{{localize 'EMPUZZLES.TrapNameHint'}}</p>
  </div>

  <div class='form-group'>
    <label for='startingImage'>{{localize 'EMPUZZLES.StartingImage'}} ({{localize 'EMPUZZLES.Optional'}})</label>
    <div class='form-fields'>
      <input
        type='text'
        id='startingImage'
        name='startingImage'
        value=''
        placeholder='path/to/trap.png'
        data-dtype='String'
      />
      <button
        type='button'
        class='file-picker'
        data-type='imagevideo'
        data-target='startingImage'
        title='Browse Files'
        tabindex='-1'
      >
        <i class='gi-load'></i>
      </button>
    </div>
    <p class='hint'>{{localize 'EMPUZZLES.CombatTrapStartingImageHint'}}</p>
  </div>

  <div class='form-group'>
    <label for='triggeredImage'>{{localize 'EMPUZZLES.TriggeredImage'}} ({{localize 'EMPUZZLES.Optional'}})</label>
    <div class='form-fields'>
      <input
        type='text'
        id='triggeredImage'
        name='triggeredImage'
        value=''
        placeholder='path/to/trap-triggered.png'
        data-dtype='String'
      />
      <button
        type='button'
        class='file-picker'
        data-type='imagevideo'
        data-target='triggeredImage'
        title='Browse Files'
        tabindex='-1'
      >
        <i class='gi-load'></i>
      </button>
    </div>
    <p class='hint'>{{localize 'EMPUZZLES.TriggeredImageHint'}}</p>
  </div>

  <div class='form-group'>
    <label>
      <input type='checkbox' id='hideTrapOnTrigger' name='hideTrapOnTrigger' />
      {{localize 'EMPUZZLES.HideTrapOnTrigger'}}
    </label>
    <p class='hint'>{{localize 'EMPUZZLES.HideTrapOnTriggerHint'}}</p>
  </div>

  <div class='form-group'>
    <label for='sound'>{{localize 'EMPUZZLES.Sound'}}</label>
    <div class='form-fields'>
      <input
        type='text'
        id='sound'
        name='sound'
        value='{{defaultSound}}'
        data-dtype='String'
      />
      <button
        type='button'
        class='file-picker'
        data-type='audio'
        data-target='sound'
        title='Browse Files'
        tabindex='-1'
      >
        <i class='gi-load'></i>
      </button>
    </div>
    <p class='hint'>{{localize 'EMPUZZLES.SoundHint'}}</p>
  </div>

  <div class='form-group'>
    <label for='targetType'>{{localize 'EMPUZZLES.TargetType'}}</label>
    <select id='targetType' name='targetType'>
      {{#each targetTypeOptions as |option|}}
        <option value='{{option.value}}'>
          {{localize option.label}}
        </option>
      {{/each}}
    </select>
    <p class='hint'>{{localize 'EMPUZZLES.TargetTypeHint'}}</p>
  </div>

  <div class='form-group section-header'>
    <h3>{{localize 'EMPUZZLES.AttackItem'}}</h3>
  </div>

  <div class='form-group'>
    <label>{{localize 'EMPUZZLES.AttackItemLabel'}}</label>
    <div class='item-drop-zone' data-item-id='{{itemId}}'>
      {{#if itemName}}
        <div class='dropped-item'>
          <img src='{{itemImg}}' alt='{{itemName}}' />
          <span>{{itemName}}</span>
          <button type='button' class='remove-item' title='{{localize "EMPUZZLES.RemoveItem"}}'>
            <i class='gi-cancel'></i>
          </button>
        </div>
      {{else}}
        <div class='drop-placeholder'>
          <i class='gi-load'></i>
          <p>{{localize 'EMPUZZLES.DragItemHere'}}</p>
        </div>
      {{/if}}
    </div>
    <input type='hidden' id='itemId' name='itemId' value='{{itemId}}' />
    <input type='hidden' id='itemName' name='itemName' value='{{itemName}}' />
    <input type='hidden' id='itemImg' name='itemImg' value='{{itemImg}}' />
    <p class='hint'>{{localize 'EMPUZZLES.AttackItemHint'}}</p>
  </div>

  <div class='form-group section-header'>
    <h3>{{localize 'EMPUZZLES.TokenConfiguration'}}</h3>
  </div>

  <div class='form-group'>
    <label>
      <input
        type='checkbox'
        id='tokenVisible'
        name='tokenVisible'
        {{#if tokenVisible}}checked{{/if}}
      />
      {{localize 'EMPUZZLES.TokenVisible'}}
    </label>
    <p class='hint'>{{localize 'EMPUZZLES.TokenVisibleHint'}}</p>
  </div>

  <div class='form-group token-image-group' style='{{#unless tokenVisible}}display: none;{{/unless}}'>
    <label for='tokenImage'>{{localize 'EMPUZZLES.TokenImage'}} ({{localize 'EMPUZZLES.Optional'}})</label>
    <div class='form-fields'>
      <input
        type='text'
        id='tokenImage'
        name='tokenImage'
        value='{{tokenImage}}'
        placeholder='path/to/token.png'
        data-dtype='String'
      />
      <button
        type='button'
        class='file-picker'
        data-type='imagevideo'
        data-target='tokenImage'
        title='Browse Files'
        tabindex='-1'
      >
        <i class='gi-load'></i>
      </button>
    </div>
    <p class='hint'>{{localize 'EMPUZZLES.TokenImageHint'}}</p>
  </div>

  <div class='form-group'>
    <label>{{localize 'EMPUZZLES.TokenPosition'}} ({{localize 'EMPUZZLES.Optional'}})</label>
    <button type='button' class='select-position-button' data-action='selectTokenPosition'>
      <i class='gi-convergence-target'></i>
      {{localize 'EMPUZZLES.SelectPosition'}}
    </button>
    <input type='hidden' name='tokenX' value='{{tokenX}}' />
    <input type='hidden' name='tokenY' value='{{tokenY}}' />
    <p class='hint token-position-display'>
      {{#if tokenX}}
        {{localize 'EMPUZZLES.SelectedPosition'}}: ({{tokenX}}, {{tokenY}})
      {{else}}
        {{localize 'EMPUZZLES.NoTokenPositionSelected'}}
      {{/if}}
    </p>
  </div>

  <div class='form-group section-header'>
    <h3>{{localize 'EMPUZZLES.TriggerLimit'}}</h3>
  </div>

  <div class='form-group'>
    <label for='maxTriggers'>{{localize 'EMPUZZLES.MaxTriggers'}}</label>
    <input
      type='number'
      id='maxTriggers'
      name='maxTriggers'
      value='0'
      min='0'
      max='100'
      data-dtype='Number'
    />
    <p class='hint'>{{localize 'EMPUZZLES.MaxTriggersHint'}}</p>
  </div>
</form>
