{{! Basic Information Section }}
<fieldset class="basic-info-section">
  <legend>
    {{localize "EMPUZZLES.BasicInfo"}}
  </legend>
  <div>
    {{! Creation Type Toggle (Tile vs Region) - only shown if Enhanced Region Behaviors is installed }}
    {{#if hasEnhancedRegionBehaviors}}
    <div class="form-group creation-type-group">
      <label>{{localize "EMPUZZLES.CreationType"}}</label>
      <div class="toggle-group">
        <label class="toggle-option {{#if (eq creationType 'tile')}}active{{/if}}">
          <input type="radio" name="creationType" value="tile" {{#if (eq creationType "tile")}}checked{{/if}} />
          <i class="fa-solid fa-cubes"></i> {{localize "EMPUZZLES.CreateAsTile"}}
        </label>
        <label class="toggle-option {{#if (eq creationType 'region')}}active{{/if}}">
          <input type="radio" name="creationType" value="region" {{#if (eq creationType "region")}}checked{{/if}} />
          <i class="fa-solid fa-chess-board"></i> {{localize "EMPUZZLES.CreateAsRegion"}}
        </label>
      </div>
      <p class="hint">{{localize "EMPUZZLES.CreationTypeHint"}}</p>
    </div>
    {{/if}}

    {{! Tile-only: Trap Type selector }}
    <div class="form-group tile-only-option">
      <label for="trapType">{{localize "EMPUZZLES.TrapType"}}</label>
      <select id="trapType" name="trapType">
        {{#each trapTypeOptions as |option|}}
          <option value="{{option.value}}" {{#if (eq option.value ../trapType)}}selected{{/if}}>
            {{localize option.label}}
          </option>
        {{/each}}
      </select>
      <p class="hint">{{localize "EMPUZZLES.TrapTypeHint"}}</p>
    </div>

    <div class="form-group">
      <label for="trapName">{{localize "EMPUZZLES.TrapName"}} <span class="required">*</span></label>
      <input type="text" id="trapName" name="trapName" value="{{trapName}}" placeholder="{{localize 'EMPUZZLES.TrapNamePlaceholder'}}" required />
      <p class="hint">{{localize "EMPUZZLES.TrapNameHint"}}</p>
    </div>

    <div class="form-group">
      <label for="sound">{{localize "EMPUZZLES.Sound"}}</label>
      <div class="form-fields">
        <input type="text" id="sound" name="sound" value="{{defaultSound}}" data-dtype="String" />
        <button type="button" class="file-picker" data-type="audio" data-target="sound" title="Browse Files" tabindex="-1">
          <i class="fas fa-file-import fa-fw"></i>
        </button>
      </div>
      <p class="hint">{{localize "EMPUZZLES.SoundHint"}}</p>
    </div>

    {{! Tile-only options }}
    <div class="form-group tile-only-option">
      <label for="minRequired">{{localize "EMPUZZLES.MinRequired"}}</label>
      <input type="number" id="minRequired" name="minRequired" value="" min="1" data-dtype="Number" />
      <p class="hint">{{localize "EMPUZZLES.MinRequiredHint"}}</p>
    </div>

    <div class="form-group tile-only-option">
      <label for="targetType">{{localize "EMPUZZLES.TargetType"}}</label>
      <select id="targetType" name="targetType">
        {{#each targetTypeOptions as |option|}}
          <option value="{{option.value}}" {{#if (eq option.value ../defaultTargetType)}}selected{{/if}}>
            {{localize option.label}}
          </option>
        {{/each}}
      </select>
      <p class="hint">{{localize "EMPUZZLES.TargetTypeHint"}}</p>
    </div>

    <div class="form-group">
      <label>
        <input type="checkbox" id="pauseGameOnTrigger" name="pauseGameOnTrigger" {{#if pauseGameOnTrigger}}checked{{/if}} />
        {{localize "EMPUZZLES.PauseGameOnTrigger"}}
      </label>
      <p class="hint">{{localize "EMPUZZLES.PauseGameOnTriggerHint"}}</p>
    </div>

    <div class="form-group tile-only-option">
      <label>
        <input type="checkbox" id="deactivateAfterTrigger" name="deactivateAfterTrigger" {{#if deactivateAfterTrigger}}checked{{/if}} />
        {{localize "EMPUZZLES.DeactivateAfterTrigger"}}
      </label>
      <p class="hint">{{localize "EMPUZZLES.DeactivateAfterTriggerHint"}}</p>
    </div>
  </div>
</fieldset>

{{! Region-Only: Trap Configuration Section }}
<fieldset class="region-trap-section region-only-option">
  <legend>
    {{localize "EMPUZZLES.RegionTrapConfig"}}
  </legend>
  <div>
    {{! Trigger Events - Tag-based selection }}
    <div class="form-group">
      <label>{{localize "EMPUZZLES.TriggerEvents"}}</label>
      <div class="tag-select-container" data-tag-select="regionTriggerEvents">
        <div class="tag-display">
          <span class="tag" data-value="tokenEnter">{{localize "EMPUZZLES.EventTokenEnter"}} <i class="fa-solid fa-times tag-remove"></i></span>
        </div>
        <select class="tag-select-dropdown">
          <option value="">-- {{localize "EMPUZZLES.SelectToAdd"}} --</option>
          <option value="tokenEnter" data-label="{{localize 'EMPUZZLES.EventTokenEnter'}}">{{localize "EMPUZZLES.EventTokenEnter"}}</option>
          <option value="tokenExit" data-label="{{localize 'EMPUZZLES.EventTokenExit'}}">{{localize "EMPUZZLES.EventTokenExit"}}</option>
          <option value="tokenMoveIn" data-label="{{localize 'EMPUZZLES.EventTokenMoveIn'}}">{{localize "EMPUZZLES.EventTokenMoveIn"}}</option>
          <option value="tokenTurnStart" data-label="{{localize 'EMPUZZLES.EventTokenTurnStart'}}">{{localize "EMPUZZLES.EventTokenTurnStart"}}</option>
          <option value="tokenTurnEnd" data-label="{{localize 'EMPUZZLES.EventTokenTurnEnd'}}">{{localize "EMPUZZLES.EventTokenTurnEnd"}}</option>
        </select>
        <input type="hidden" name="regionTriggerEvents" value="tokenEnter" />
      </div>
      <p class="hint">{{localize "EMPUZZLES.TriggerEventsHint"}}</p>
    </div>

    {{! Automate Damage }}
    <div class="form-group">
      <label>
        <input type="checkbox" id="regionAutomateDamage" name="regionAutomateDamage" {{#if regionAutomateDamage}}checked{{/if}} />
        {{localize "EMPUZZLES.AutomateDamage"}}
      </label>
      <p class="hint">{{localize "EMPUZZLES.AutomateDamageHint"}}</p>
    </div>

    {{! DC }}
    <div class="form-group">
      <label for="regionSaveDC">{{localize "EMPUZZLES.DC"}} <span class="required">*</span></label>
      <input type="number" id="regionSaveDC" name="regionSaveDC" value="{{regionSaveDC}}" min="1" max="30" />
      <p class="hint">{{localize "EMPUZZLES.DCHint"}}</p>
    </div>

    {{! Save Ability - Tag-based selection (multi-select) }}
    <div class="form-group">
      <label>{{localize "EMPUZZLES.SavingThrow"}}</label>
      <div class="tag-select-container" data-tag-select="regionSaveAbility">
        <div class="tag-display">
          <span class="tag" data-value="dex">{{localize "EMPUZZLES.AbilityDex"}} <i class="fa-solid fa-times tag-remove"></i></span>
        </div>
        <select class="tag-select-dropdown">
          <option value="">-- {{localize "EMPUZZLES.SelectToAdd"}} --</option>
          <option value="str" data-label="{{localize 'EMPUZZLES.AbilityStr'}}">{{localize "EMPUZZLES.AbilityStr"}}</option>
          <option value="dex" data-label="{{localize 'EMPUZZLES.AbilityDex'}}">{{localize "EMPUZZLES.AbilityDex"}}</option>
          <option value="con" data-label="{{localize 'EMPUZZLES.AbilityCon'}}">{{localize "EMPUZZLES.AbilityCon"}}</option>
          <option value="int" data-label="{{localize 'EMPUZZLES.AbilityInt'}}">{{localize "EMPUZZLES.AbilityInt"}}</option>
          <option value="wis" data-label="{{localize 'EMPUZZLES.AbilityWis'}}">{{localize "EMPUZZLES.AbilityWis"}}</option>
          <option value="cha" data-label="{{localize 'EMPUZZLES.AbilityCha'}}">{{localize "EMPUZZLES.AbilityCha"}}</option>
        </select>
        <input type="hidden" name="regionSaveAbility" value="dex" />
      </div>
      <p class="hint">{{localize "EMPUZZLES.SaveAbilityHint"}}</p>
    </div>

    {{! Skill Checks - Tag-based selection (all DnD5e skills) }}
    <div class="form-group">
      <label>{{localize "EMPUZZLES.SkillChecks"}}</label>
      <div class="tag-select-container" data-tag-select="regionSkillChecks">
        <div class="tag-display"></div>
        <select class="tag-select-dropdown">
          <option value="">-- {{localize "EMPUZZLES.SelectToAdd"}} --</option>
          <option value="acr" data-label="{{localize 'EMPUZZLES.SkillAcrobatics'}}">{{localize "EMPUZZLES.SkillAcrobatics"}}</option>
          <option value="ani" data-label="{{localize 'EMPUZZLES.SkillAnimalHandling'}}">{{localize "EMPUZZLES.SkillAnimalHandling"}}</option>
          <option value="arc" data-label="{{localize 'EMPUZZLES.SkillArcana'}}">{{localize "EMPUZZLES.SkillArcana"}}</option>
          <option value="ath" data-label="{{localize 'EMPUZZLES.SkillAthletics'}}">{{localize "EMPUZZLES.SkillAthletics"}}</option>
          <option value="dec" data-label="{{localize 'EMPUZZLES.SkillDeception'}}">{{localize "EMPUZZLES.SkillDeception"}}</option>
          <option value="his" data-label="{{localize 'EMPUZZLES.SkillHistory'}}">{{localize "EMPUZZLES.SkillHistory"}}</option>
          <option value="ins" data-label="{{localize 'EMPUZZLES.SkillInsight'}}">{{localize "EMPUZZLES.SkillInsight"}}</option>
          <option value="itm" data-label="{{localize 'EMPUZZLES.SkillIntimidation'}}">{{localize "EMPUZZLES.SkillIntimidation"}}</option>
          <option value="inv" data-label="{{localize 'EMPUZZLES.SkillInvestigation'}}">{{localize "EMPUZZLES.SkillInvestigation"}}</option>
          <option value="med" data-label="{{localize 'EMPUZZLES.SkillMedicine'}}">{{localize "EMPUZZLES.SkillMedicine"}}</option>
          <option value="nat" data-label="{{localize 'EMPUZZLES.SkillNature'}}">{{localize "EMPUZZLES.SkillNature"}}</option>
          <option value="prc" data-label="{{localize 'EMPUZZLES.SkillPerception'}}">{{localize "EMPUZZLES.SkillPerception"}}</option>
          <option value="prf" data-label="{{localize 'EMPUZZLES.SkillPerformance'}}">{{localize "EMPUZZLES.SkillPerformance"}}</option>
          <option value="per" data-label="{{localize 'EMPUZZLES.SkillPersuasion'}}">{{localize "EMPUZZLES.SkillPersuasion"}}</option>
          <option value="rel" data-label="{{localize 'EMPUZZLES.SkillReligion'}}">{{localize "EMPUZZLES.SkillReligion"}}</option>
          <option value="slt" data-label="{{localize 'EMPUZZLES.SkillSleightOfHand'}}">{{localize "EMPUZZLES.SkillSleightOfHand"}}</option>
          <option value="ste" data-label="{{localize 'EMPUZZLES.SkillStealth'}}">{{localize "EMPUZZLES.SkillStealth"}}</option>
          <option value="sur" data-label="{{localize 'EMPUZZLES.SkillSurvival'}}">{{localize "EMPUZZLES.SkillSurvival"}}</option>
        </select>
        <input type="hidden" name="regionSkillChecks" value="" />
      </div>
      <p class="hint">{{localize "EMPUZZLES.SkillChecksHint"}}</p>
    </div>

    {{! Damage Formula }}
    <div class="form-group">
      <label for="regionDamage">{{localize "EMPUZZLES.DamageFormula"}} <span class="required">*</span></label>
      <input type="text" id="regionDamage" name="regionDamage" value="{{regionDamage}}" placeholder="2d6" />
      <p class="hint">{{localize "EMPUZZLES.DamageFormulaHint"}}</p>
    </div>

    {{! Damage If Saved }}
    <div class="form-group">
      <label for="regionSavedDamage">{{localize "EMPUZZLES.DamageOnSave"}}</label>
      <input type="text" id="regionSavedDamage" name="regionSavedDamage" value="{{regionSavedDamage}}" placeholder="1d6" />
      <p class="hint">{{localize "EMPUZZLES.DamageOnSaveHint"}}</p>
    </div>

    {{! Damage Type }}
    <div class="form-group">
      <label for="regionDamageType">{{localize "EMPUZZLES.DamageType"}} <span class="required">*</span></label>
      <select id="regionDamageType" name="regionDamageType">
        <option value="piercing" {{#if (eq regionDamageType "piercing")}}selected{{/if}}>Piercing</option>
        <option value="slashing" {{#if (eq regionDamageType "slashing")}}selected{{/if}}>Slashing</option>
        <option value="bludgeoning" {{#if (eq regionDamageType "bludgeoning")}}selected{{/if}}>Bludgeoning</option>
        <option value="fire" {{#if (eq regionDamageType "fire")}}selected{{/if}}>Fire</option>
        <option value="cold" {{#if (eq regionDamageType "cold")}}selected{{/if}}>Cold</option>
        <option value="lightning" {{#if (eq regionDamageType "lightning")}}selected{{/if}}>Lightning</option>
        <option value="thunder" {{#if (eq regionDamageType "thunder")}}selected{{/if}}>Thunder</option>
        <option value="acid" {{#if (eq regionDamageType "acid")}}selected{{/if}}>Acid</option>
        <option value="poison" {{#if (eq regionDamageType "poison")}}selected{{/if}}>Poison</option>
        <option value="necrotic" {{#if (eq regionDamageType "necrotic")}}selected{{/if}}>Necrotic</option>
        <option value="radiant" {{#if (eq regionDamageType "radiant")}}selected{{/if}}>Radiant</option>
        <option value="psychic" {{#if (eq regionDamageType "psychic")}}selected{{/if}}>Psychic</option>
        <option value="force" {{#if (eq regionDamageType "force")}}selected{{/if}}>Force</option>
      </select>
    </div>

    {{! Save Failed Message }}
    <div class="form-group">
      <label for="regionSaveFailedMessage">{{localize "EMPUZZLES.SaveFailedMessage"}}</label>
      <input type="text" id="regionSaveFailedMessage" name="regionSaveFailedMessage" value="{{regionSaveFailedMessage}}" />
      <p class="hint">{{localize "EMPUZZLES.SaveFailedMessageHint"}}</p>
    </div>

    {{! Save Success Message }}
    <div class="form-group">
      <label for="regionSaveSuccessMessage">{{localize "EMPUZZLES.SaveSuccessMessage"}}</label>
      <input type="text" id="regionSaveSuccessMessage" name="regionSaveSuccessMessage" value="{{regionSaveSuccessMessage}}" />
      <p class="hint">{{localize "EMPUZZLES.SaveSuccessMessageHint"}}</p>
    </div>
  </div>
</fieldset>

{{! Visibility Section - wrapped in accordion in the partial itself (tile-only) }}
<div class="tile-only-option">
{{> partials/visibility-section
  isImageTrap=(eq trapType "image")
  imageBehavior=imageBehavior
  imageBehaviorOptions=imageBehaviorOptions
  startingImage=defaultTrapImage
  triggeredImage=defaultTrapTriggeredImage
}}
</div>

{{! Image Trap - Result Configuration Section (tile-only - regions use native behaviors) }}
{{#if (eq trapType "image")}}
  <fieldset class="result-config-section tile-only-option">
    <legend>
      {{localize "EMPUZZLES.ResultConfiguration"}}
    </legend>
    <div>
      <div class="form-group">
        <label for="resultType">{{localize "EMPUZZLES.ResultType"}} <span class="required">*</span></label>
        <select id="resultType" name="resultType">
          {{#each resultTypeOptions as |option|}}
            <option value="{{option.value}}" {{#if (eq option.value ../resultType)}}selected{{/if}}>
              {{localize option.label}}
            </option>
          {{/each}}
        </select>
        <p class="hint">{{localize "EMPUZZLES.ResultTypeHint"}}</p>
      </div>

    {{! Damage Result Type }}
    {{#if (eq resultType "damage")}}
      {{! DMG Trap Item Integration (tile-only - uses Monk's Active Tiles) }}
      <div class="form-group dmg-trap-section tile-only-option">
        <label>{{localize "EMPUZZLES.DMGTrapItem"}}</label>
        {{#if hasDmgTrap}}
          <div class="dmg-trap-item-display">
            <div class="dmg-trap-item-info">
              <img src="{{dmgTrap.itemImg}}" class="dmg-trap-item-image" alt="" />
              <div class="dmg-trap-item-details">
                <span class="dmg-trap-item-name">{{dmgTrap.itemName}}</span>
                <button type="button" class="dmg-trap-remove-button" data-action="removeDmgTrapItem" title="{{localize 'EMPUZZLES.RemoveDMGTrapItem'}}">
                  <i class="fas fa-times"></i> {{localize "EMPUZZLES.Remove"}}
                </button>
              </div>
            </div>
            <div class="dmg-trap-activity-select-wrapper">
              <label for="dmgTrapActivity">{{localize "EMPUZZLES.DMGTrapLevelRange"}}</label>
              <select id="dmgTrapActivity" name="dmgTrapActivity" data-dmg-trap-activity-select>
                {{#each dmgTrap.activityOptions as |activity|}}
                  <option value="{{activity.value}}" {{#if (eq activity.value ../dmgTrap.selectedActivityId)}}selected{{/if}}>
                    {{activity.label}}
                  </option>
                {{/each}}
              </select>
            </div>
          </div>
        {{else}}
          <div class="dmg-trap-item-drop-zone" data-dmg-trap-drop-zone>
            <i class="fas fa-file-import"></i>
            <p>{{localize "EMPUZZLES.DMGTrapDropZone"}}</p>
          </div>
        {{/if}}
        <p class="hint">{{localize "EMPUZZLES.DMGTrapItemHint"}}</p>
      </div>
    {{/if}}

    {{! Saving Throw Section - Show for damage and activeeffect only (not combat, teleport, or undefined) }}
    {{#if (eq resultType "damage")}}
      {{> partials/saving-throw-section
        hasDefaults=true
        canDisable=true
        showHalfDamage=true
        defaultHasSavingThrow=defaultHasSavingThrow
        defaultSavingThrow=defaultSavingThrow
        defaultDC=defaultDC
        defaultHalfDamageOnSuccess=defaultHalfDamageOnSuccess
        hasDmgTrap=hasDmgTrap
        savingThrowOptions=savingThrowOptions
      }}
    {{/if}}
    {{#if (eq resultType "activeeffect")}}
      {{> partials/saving-throw-section
        hasDefaults=false
        canDisable=false
        showHalfDamage=false
        defaultHasSavingThrow=defaultHasSavingThrow
        savingThrowOptions=savingThrowOptions
      }}
    {{/if}}

    {{#if (eq resultType "damage")}}
      <div class="form-group">
        <label for="damageOnFail">{{localize "EMPUZZLES.DamageOnFail"}}</label>
        {{#if defaultDamageOnFail}}
          <input type="text" id="damageOnFail" {{#unless hasDmgTrap}}name="damageOnFail"{{/unless}} value="{{defaultDamageOnFail}}" placeholder="2d6" {{#if hasDmgTrap}}disabled{{/if}} />
          {{! Hidden input to preserve value when input is disabled }}
          {{#if hasDmgTrap}}
            <input type="hidden" name="damageOnFail" value="{{defaultDamageOnFail}}" />
          {{/if}}
        {{else}}
          <input type="text" id="damageOnFail" name="damageOnFail" value="2d6" placeholder="2d6" {{#if hasDmgTrap}}disabled{{/if}} />
        {{/if}}
        <p class="hint">{{localize "EMPUZZLES.DamageOnFailHint"}}</p>
      </div>

      <div class="form-group">
        <label for="flavorText">{{localize "EMPUZZLES.FlavorText"}}</label>
        <textarea id="flavorText" name="flavorText" rows="3" placeholder="{{localize 'EMPUZZLES.FlavorTextPlaceholder'}}"></textarea>
        <p class="hint">{{localize "EMPUZZLES.FlavorTextHint"}}</p>
      </div>

      <div class="form-group">
        <label for="additionalEffects">{{localize "EMPUZZLES.AdditionalEffects"}}</label>
        <multi-select name="additionalEffects">
          {{selectOptions effectOptions selected=additionalEffects nameAttr="value" labelAttr="label"}}
        </multi-select>
        <p class="hint">{{localize "EMPUZZLES.AdditionalEffectsDamageHint"}}</p>

        {{! Add/Remove toggle for additional effects }}
        <div class="radio-group additional-effects-action" {{#unless additionalEffects.length}}style="opacity: 0.5; pointer-events: none;"{{/unless}}>
          <label class="radio-option">
            <input type="radio" name="additionalEffectsAction" value="add" {{#if (eq additionalEffectsAction "add")}}checked{{/if}} {{#unless additionalEffects.length}}disabled{{/unless}} />
            <span>{{localize "EMPUZZLES.AddEffects"}}</span>
          </label>
          <label class="radio-option">
            <input type="radio" name="additionalEffectsAction" value="remove" {{#if (eq additionalEffectsAction "remove")}}checked{{/if}} {{#unless additionalEffects.length}}disabled{{/unless}} />
            <span>{{localize "EMPUZZLES.RemoveEffects"}}</span>
          </label>
        </div>
      </div>
    {{/if}}

    {{! Heal Result Type }}
    {{#if (eq resultType "heal")}}
      <div class="form-group">
        <label for="healingAmount">{{localize "EMPUZZLES.HealingAmount"}}</label>
        <input type="text" id="healingAmount" name="healingAmount" value="2d4+2" placeholder="2d4+2" />
        <p class="hint">{{localize "EMPUZZLES.HealingAmountHint"}}</p>
      </div>

      <div class="form-group">
        <label for="healFlavorText">{{localize "EMPUZZLES.FlavorText"}}</label>
        <textarea id="healFlavorText" name="healFlavorText" rows="3" placeholder="{{localize 'EMPUZZLES.HealFlavorTextPlaceholder'}}"></textarea>
        <p class="hint">{{localize "EMPUZZLES.FlavorTextHint"}}</p>
      </div>

      <div class="form-group">
        <label for="additionalEffects">{{localize "EMPUZZLES.AdditionalEffects"}}</label>
        <multi-select name="additionalEffects">
          {{selectOptions effectOptions selected=additionalEffects nameAttr="value" labelAttr="label"}}
        </multi-select>
        <p class="hint">{{localize "EMPUZZLES.AdditionalEffectsHealHint"}}</p>

        {{! Add/Remove toggle for additional effects }}
        <div class="radio-group additional-effects-action" {{#unless additionalEffects.length}}style="opacity: 0.5; pointer-events: none;"{{/unless}}>
          <label class="radio-option">
            <input type="radio" name="additionalEffectsAction" value="add" {{#if (eq additionalEffectsAction "add")}}checked{{/if}} {{#unless additionalEffects.length}}disabled{{/unless}} />
            <span>{{localize "EMPUZZLES.AddEffects"}}</span>
          </label>
          <label class="radio-option">
            <input type="radio" name="additionalEffectsAction" value="remove" {{#if (eq additionalEffectsAction "remove")}}checked{{/if}} {{#unless additionalEffects.length}}disabled{{/unless}} />
            <span>{{localize "EMPUZZLES.RemoveEffects"}}</span>
          </label>
        </div>
      </div>
    {{/if}}

    {{! Teleport Result Type }}
    {{#if (eq resultType "teleport")}}
      <div class="form-group">
        <label>{{localize "EMPUZZLES.TeleportDestination"}}</label>
        <button type="button" class="select-position-button" data-action="selectTeleportPosition">
          <i class="fas fa-crosshairs"></i> {{localize "EMPUZZLES.SelectPosition"}}
        </button>
        <input type="hidden" name="teleportX" value="{{teleportX}}" />
        <input type="hidden" name="teleportY" value="{{teleportY}}" />
        <p class="hint teleport-position-display">
          {{#if teleportX}}
            {{localize "EMPUZZLES.SelectedPosition"}}: ({{teleportX}}, {{teleportY}})
          {{else}}
            {{localize "EMPUZZLES.NoPositionSelected"}}
          {{/if}}
        </p>
      </div>
    {{/if}}

    {{! Active Effect Result Type }}
    {{#if (eq resultType "activeeffect")}}
      <div class="form-group">
        <label for="effectId">{{localize "EMPUZZLES.EffectSelect"}}</label>
        <select id="effectId" name="effectId">
          {{#each effectOptions as |option|}}
            <option value="{{option.value}}">{{option.label}}</option>
          {{/each}}
        </select>
        <p class="hint">{{localize "EMPUZZLES.EffectSelectHint"}}</p>
      </div>

      <div class="form-group">
        <label for="addEffect">{{localize "EMPUZZLES.EffectAction"}}</label>
        <select id="addEffect" name="addEffect">
          <option value="add">{{localize "EMPUZZLES.EffectAdd"}}</option>
          <option value="remove">{{localize "EMPUZZLES.EffectRemove"}}</option>
          <option value="toggle">{{localize "EMPUZZLES.EffectToggle"}}</option>
        </select>
        <p class="hint">{{localize "EMPUZZLES.EffectActionHint"}}</p>
      </div>
    {{/if}}

    {{! Combat Result Type (tile-only - complex tile features) }}
    {{#if (eq resultType "combat")}}
    <div class="combat-result-section tile-only-option">
      <div class="form-group attack-item-section">
        <label>{{localize "EMPUZZLES.AttackItem"}}</label>
        {{#if hasAttackItem}}
          <div class="attack-item-display">
            <img src="{{attackItem.itemImg}}" class="attack-item-image" alt="" />
            <div class="attack-item-details">
              <span class="attack-item-name">{{attackItem.itemName}}</span>
              <button type="button" class="attack-item-remove-button" data-action="removeAttackItem" title="{{localize 'EMPUZZLES.RemoveItem'}}">
                <i class="fas fa-times"></i> {{localize "EMPUZZLES.Remove"}}
              </button>
            </div>
          </div>
        {{else}}
          <div class="attack-item-drop-zone" data-attack-item-drop-zone>
            <i class="fas fa-file-import"></i>
            <p>{{localize "EMPUZZLES.DragItemHere"}}</p>
          </div>
        {{/if}}
        <p class="hint">{{localize "EMPUZZLES.AttackItemHint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "EMPUZZLES.TokenConfiguration"}}</label>
        <div class="token-config-section">
          <label class="checkbox-label">
            <input type="checkbox" name="tokenVisible" {{#if tokenVisible}}checked{{/if}} />
            {{localize "EMPUZZLES.TokenVisible"}}
          </label>
          <p class="hint">{{localize "EMPUZZLES.TokenVisibleHint"}}</p>

          {{#if tokenVisible}}
            <div class="form-group">
              <label for="tokenImage">{{localize "EMPUZZLES.TokenImage"}}</label>
              <div class="form-fields">
                <input type="text" id="tokenImage" name="tokenImage" value="{{tokenImage}}" data-dtype="String" />
                <button type="button" class="file-picker" data-type="imagevideo" data-target="tokenImage" title="Browse Files" tabindex="-1">
                  <i class="fas fa-file-import fa-fw"></i>
                </button>
              </div>
              <p class="hint">{{localize "EMPUZZLES.TokenImageHint"}}</p>
            </div>
          {{/if}}

          <div class="form-group">
            <label>{{localize "EMPUZZLES.TokenPosition"}}</label>
            <button type="button" class="select-position-button" data-action="selectTokenPosition">
              <i class="fas fa-crosshairs"></i> {{localize "EMPUZZLES.SelectPosition"}}
            </button>
            <input type="hidden" name="tokenX" value="{{tokenX}}" />
            <input type="hidden" name="tokenY" value="{{tokenY}}" />
            <p class="hint">
              {{#if tokenX}}
                {{localize "EMPUZZLES.SelectedPosition"}}: ({{tokenX}}, {{tokenY}})
              {{else}}
                {{localize "EMPUZZLES.NoTokenPositionSelected"}}
              {{/if}}
            </p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="additionalEffects">{{localize "EMPUZZLES.AdditionalEffects"}}</label>
        <multi-select name="additionalEffects">
          {{selectOptions effectOptions selected=additionalEffects nameAttr="value" labelAttr="label"}}
        </multi-select>
        <p class="hint">{{localize "EMPUZZLES.AdditionalEffectsCombatHint"}}</p>

        {{! Add/Remove toggle for additional effects }}
        <div class="radio-group additional-effects-action" {{#unless additionalEffects.length}}style="opacity: 0.5; pointer-events: none;"{{/unless}}>
          <label class="radio-option">
            <input type="radio" name="additionalEffectsAction" value="add" {{#if (eq additionalEffectsAction "add")}}checked{{/if}} {{#unless additionalEffects.length}}disabled{{/unless}} />
            <span>{{localize "EMPUZZLES.AddEffects"}}</span>
          </label>
          <label class="radio-option">
            <input type="radio" name="additionalEffectsAction" value="remove" {{#if (eq additionalEffectsAction "remove")}}checked{{/if}} {{#unless additionalEffects.length}}disabled{{/unless}} />
            <span>{{localize "EMPUZZLES.RemoveEffects"}}</span>
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="maxTriggers">{{localize "EMPUZZLES.MaxTriggers"}}</label>
        <input type="number" id="maxTriggers" name="maxTriggers" value="0" min="0" data-dtype="Number" />
        <p class="hint">{{localize "EMPUZZLES.MaxTriggersHint"}}</p>
      </div>
    </div>
    {{/if}}
    </div>
  </fieldset>
{{/if}}

{{! Activating Trap - Tiles & Doors Section (tile-only - uses Monk's Active Tiles) }}
{{#if (eq trapType "activating")}}
  <fieldset class="tiles-doors-section tile-only-option">
    <legend>
      {{localize "EMPUZZLES.TilesAndDoors"}}
    </legend>
    <div>
      <div class="form-group">
        <label>{{localize "EMPUZZLES.TilesToActivate"}}</label>
        <button type="button" class="add-tile-button" data-action="addTile">
          <i class="fas fa-plus"></i> {{localize "EMPUZZLES.AddTile"}}
      </button>
      <p class="hint">{{localize "EMPUZZLES.ActivatingTrapTilesHint"}}</p>
    </div>

    {{#if hasTiles}}
      <div class="tiles-list">
        {{#each tiles as |tile|}}
          <div class="tile-entry" data-tile-id="{{tile.id}}">
            <div class="tile-entry-header">
              {{#if tile.image}}
                {{#if tile.isVideo}}
                  <video src="{{tile.image}}" class="tile-thumbnail" autoplay loop muted></video>
                {{else}}
                  <img src="{{tile.image}}" class="tile-thumbnail" alt="" />
                {{/if}}
              {{else}}
                <img src="icons/svg/hazard.svg" class="tile-thumbnail tile-thumbnail-placeholder" alt="" />
              {{/if}}
              <div class="tile-info">
                <span class="tile-name">{{tile.name}}</span>
                <div class="tile-meta">
                  {{#if tile.hasMonksData}}
                    <span class="tile-meta-badge">
                      <i class="fas fa-puzzle-piece"></i> {{tile.actionCount}} actions
                    </span>
                    <span class="tile-meta-badge">
                      <i class="fas fa-code"></i> {{tile.variableCount}} variables
                    </span>
                  {{/if}}
                </div>
              </div>
              <button type="button" class="tile-remove-button" data-action="removeTile" data-tile-id="{{tile.id}}" title="{{localize 'EMPUZZLES.RemoveTile'}}">
                <i class="fas fa-times"></i>
              </button>
            </div>

            <div class="tile-action-config">
              <div class="form-group">
                <label for="action-{{tile.id}}">{{localize "EMPUZZLES.Action"}}</label>
                <select name="action-{{tile.id}}" data-action-select data-tile-id="{{tile.id}}">
                  <option value="activate" {{#if (eq tile.actionType "activate")}}selected{{/if}}>{{localize "EMPUZZLES.ActionActivate"}}</option>
                  <option value="showhide" {{#if (eq tile.actionType "showhide")}}selected{{/if}}>{{localize "EMPUZZLES.ActionShowHide"}}</option>
                  <option value="moveto" {{#if (eq tile.actionType "moveto")}}selected{{/if}}>{{localize "EMPUZZLES.ActionMoveTo"}}</option>
                  <option value="trigger" {{#if (eq tile.actionType "trigger")}}selected{{/if}}>{{localize "EMPUZZLES.ActionTriggerTile"}}</option>
                </select>
              </div>

              <div class="activate-options" style="{{#unless (eq tile.actionType "activate")}}display: none;{{/unless}}">
                <div class="form-group">
                  <label for="activateMode-{{tile.id}}">{{localize "EMPUZZLES.Mode"}}</label>
                  <select name="activateMode-{{tile.id}}" data-mode-select data-tile-id="{{tile.id}}" data-mode-type="activate">
                    <option value="activate" {{#if (eq tile.activateMode "activate")}}selected{{/if}}>{{localize "EMPUZZLES.Activate"}}</option>
                    <option value="deactivate" {{#if (eq tile.activateMode "deactivate")}}selected{{/if}}>{{localize "EMPUZZLES.Deactivate"}}</option>
                    <option value="toggle" {{#if (eq tile.activateMode "toggle")}}selected{{/if}}>{{localize "EMPUZZLES.Toggle"}}</option>
                  </select>
                </div>
              </div>

              <div class="showhide-options" style="{{#unless (eq tile.actionType "showhide")}}display: none;{{/unless}}">
                <div class="form-group">
                  <label for="showHideMode-{{tile.id}}">{{localize "EMPUZZLES.Mode"}}</label>
                  <select name="showHideMode-{{tile.id}}" data-mode-select data-tile-id="{{tile.id}}" data-mode-type="showhide">
                    <option value="show" {{#if (eq tile.showHideMode "show")}}selected{{/if}}>{{localize "EMPUZZLES.Show"}}</option>
                    <option value="hide" {{#if (eq tile.showHideMode "hide")}}selected{{/if}}>{{localize "EMPUZZLES.Hide"}}</option>
                    <option value="toggle" {{#if (eq tile.showHideMode "toggle")}}selected{{/if}}>{{localize "EMPUZZLES.Toggle"}}</option>
                  </select>
                </div>
              </div>

              <div class="move-options" style="{{#unless (eq tile.actionType "moveto")}}display: none;{{/unless}}">
                <div class="form-group">
                  <button type="button" class="select-position-button" data-action="selectMovePosition" data-tile-id="{{tile.id}}">
                    <i class="fas fa-crosshairs"></i> {{localize "EMPUZZLES.SelectPosition"}}
                  </button>
                  <p class="hint">
                    {{#if tile.moveX}}
                      {{localize "EMPUZZLES.MoveDestination"}}: ({{tile.moveX}}, {{tile.moveY}})
                    {{else}}
                      {{localize "EMPUZZLES.NoPositionSelected"}}
                    {{/if}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <p class="no-content">{{localize "EMPUZZLES.NoTilesSelected"}}</p>
    {{/if}}

    <div class="form-group">
      <label>{{localize "EMPUZZLES.WallDoorActions"}}</label>
      <button type="button" class="add-wall-button" data-action="addWall">
        <i class="fas fa-plus"></i> {{localize "EMPUZZLES.AddWall"}}
      </button>
      <p class="hint">{{localize "EMPUZZLES.WallDoorActionsHint"}}</p>
    </div>

    {{#if hasWalls}}
      <div class="walls-list">
        {{#each walls as |wall index|}}
          <div class="wall-entry">
            <span class="wall-id">Wall {{wall.wallId}}</span>
            <select name="wall-state-{{index}}">
              <option value="OPEN" {{#if (eq wall.state "OPEN")}}selected{{/if}}>{{localize "EMPUZZLES.DoorOpen"}}</option>
              <option value="CLOSED" {{#if (eq wall.state "CLOSED")}}selected{{/if}}>{{localize "EMPUZZLES.DoorClosed"}}</option>
              <option value="LOCKED" {{#if (eq wall.state "LOCKED")}}selected{{/if}}>{{localize "EMPUZZLES.DoorLocked"}}</option>
            </select>
            <button type="button" class="wall-remove-button" data-action="removeWall" data-wall-index="{{index}}" title="{{localize 'EMPUZZLES.RemoveWall'}}">
              <i class="fas fa-times"></i>
            </button>
          </div>
        {{/each}}
      </div>
    {{else}}
      <p class="no-content">{{localize "EMPUZZLES.NoWallsSelected"}}</p>
    {{/if}}
    </div>
  </fieldset>
{{/if}}

{{! Custom Tags Section - Last section }}
{{> partials/custom-tags-section customTags=customTags}}
